html{
    scroll-behavior: smooth;
}
body {
    font-size: 18px;
    margin: 0;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    line-height: 1em;
    text-align: left;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    text-align: left;
}
img:first-child {
    width: 400px;
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    float: left;
    shape-outside: circle(60%);
}
img:last-of-type {
    width: 200px;
    float: right;
    margin-left: 1em;
}